%script{src:"https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"}
.container 
  .row
    .span12
      #map_home_page
        %h1
          %span 
            A great place to find goods
        
  .row
    .span12
      .input_search
        .before#locate_me
        %input.input-block-level#search_box{type:"text", placeholder:"Current Address or anything"}
        .after#find_address

  .row
    .span12
      %h1{style:"display: none"}
        Items Around You
      .spinner{style:"display:none"}
        = image_tag "ajax-loader.gif"
  .row
    .span12 
      .item_picture_list
        - @items.each do |x|
          - if x.image_id.nil?
            .item_picture
              %h1= link_to x.item_name, item_path(x.item_id)
              %p= x.item_description
          - else 
            .item_picture{style:"background: url(\"/uploads/images/image/url/#{x.image_id}/#{x.image_url}\"); background-size: 200px 200px; background-size: cover"}
              %h1= link_to x.item_name, item_path(x.item_id)
              %p= x.item_description
