= form_for @user, html_options:{multipart:true} do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .field
    = f.fields_for :image do |b|
      = b.label :url, "Profile Picture"
      = image_tag @user.image.url, id: :profile_picture if @user.image
      %br
      = b.file_field :url
  
  .field
    = f.label :first_name
    = f.text_field :first_name

  .field
    = f.label :last_name
    = f.text_field :last_name

  .actions= f.submit "Submit"
