= form_for @user, html_options:{multipart:true} do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  .field
    = f.label :image
    = f.file_field :image
  
  .actions= f.submit "Upload"
