.container 
  .row
    .span12
      %h1 
        My Profile

      .row
        .span5
          - if !@user.image.nil?
            = image_tag @user.image.url, id: "profile_picture"

          %table{width: "100%"}
            %th
            %tbody
              %tr
                %th First Name
                %td= @user.first_name || "Not Set"

              %tr
                %th Last Name
                %td= @user.last_name || "Not Set"

              %tr
                %th Email
                %td= @user.email

          %br

          = link_to "Edit My Profile", edit_user_path(@user)

        .span7

          = render partial:"layouts/map", locals:{place: @locations}

      %h3 My addresses
      - current_user.addresses.each do |address|
        .row
          .span5
            %strong= address.name
            %br= address.number_and_street
            %br= address.city
            %br= "#{address.state}, #{address.zip_code}"
            = link_to "Delete Address", address_path(address), method: :delete
          .span7
            // Here come more maps, later

      .row
        %hr
        .span5

          = render partial:"addresses/form"
          
          

