%h1 
  My Profile

- if !@user.image.nil?
  = image_tag @user.image.url, id: "profile_picture"


  
.field
  = label_tag :first_name
  = @user.first_name || "Not Set"

.field
  = label_tag :last_name
  = @user.last_name || "Not Set"

.field
  = label_tag :Email
  = @user.email

%br

= link_to "Edit My Profile", edit_user_path(@user)

