.container 
  .row
    .span12
      %h1 
        My Profile

      .row
        .span5
          - if !@user.image.nil?
            = image_tag @user.image.url, id: "profile_picture"

          %table{width: "100%"}
            %th
            %tbody
              %tr
                %th First Name
                %td= @user.first_name || "Not Set"

              %tr
                %th Last Name
                %td= @user.last_name || "Not Set"

              %tr
                %th Email
                %td= @user.email

          %br

          = link_to "Edit My Profile", edit_user_path(@user) if can? :update, @user

        .span7

          = render partial:"layouts/map", locals:{place: current_user.locations}

      %h3 My addresses
      - @user.addresses.each do |address|
        .row
          .span5
            %strong= address.name
            %br
            = address.number_and_street
            %br
            = address.city
            %br
            = "#{address.state}, #{address.zip_code}"
            %br
            = link_to "Delete Address", address_path(address), method: :delete if can? :destroy, address
          .span7
            // Here come more maps, later

      .row
        %hr
        .span5

          = render partial:"addresses/form" if @user == current_user

:javascript
  $(document).ready(function(){
    get_location();
    function get_location(){
      if (navigator.geolocation){
        navigator.geolocation.getCurrentPosition(show_pos, show_error);
      }
    }
    function show_pos(position){
      options = {
      url: "/update_location",
      type: "get",
      data: {
        "location[latitude]": position.coords.latitude,
        "location[longitude]": position.coords.longitude
        }
      };
      console.log(options.data);
      $.ajax(options);
    }

    function show_error(){}
  });
