= form_for Address.new do |f|
  .field
    = f.label :name
    = f.text_field :name, placeholder: "Home"
  .field
    = f.label :number_and_street, "Street and number"
    = f.text_field :number_and_street

  .field
    = f.label :city
    = f.text_field :city

  .field
    = f.label :state
    = f.select :state, ["AL", "AK", "AS", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FM", "FL", "GA", "GU", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MH", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "MP", "OH", "OK", "OR", "PW", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VI", "VA", "WA", "WV", "WI", "WY"]

  .field
    = f.label :zip_code
    = f.text_field :zip_code
  
  .actions= f.submit "Add Address"
