.container
  .row
    .span12 
      %h1 
        Item
        = @item.name

  .row
    .span6 
      .item_picture_list
        - @item.images.each do |image|
          = image_tag image.url, class: "item_tile"

    .span6 
      = render partial:"layouts/map", locals:{place:[@item.location]}

  .row
    .span12
      %h2 Item Information
  .row
    .span4
      %h4 Data
      %strong Name: 
      = @item.description
      %br
      %strong Description:
      = @item.description

    .span4
      .item_categories
        %h4 Categories
        %ul
          - @item.categories.each do |category|
            %li= category.name
    .span4
      %h4 Availabilites
  .row
    .span12
      = link_to "Edit", edit_item_path(@item.id), class: "btn btn-warning" if can? :edit, @item
      = link_to "Delete", item_path(@item.id), {method: :delete, class: "btn btn-danger"} if can? :destroy, @item
