.container
  .row
    .span12 
      %h1 
        Item
        = @item.name

  .row
    .span6 
      Description: 
      %br
      = @item.description

      .item_categories
        %ul
          - @item.categories.each do |category|
            %li= category.name
      .item_picture_list
        - @item.images.each do |image|
          = image_tag image.url, class: "item_tile"

    .span6 
      = render partial:"layouts/map", locals:{place:[@item.location]}
