!!!
%html
  %head
    %title NearBuy
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          / .btn-navbar is used as the toggle for collapsed navbar content
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / Be sure to leave the brand out there if you want it shown
          %a.brand{:href => "#"} NearBuy
          / Everything you want hidden at 940px or less, place within here
          .nav-collapse.collapse
            / .nav, .navbar-search, .navbar-form, etc
            %ul.nav
              %li 
                = link_to "Home", root_path
              %li 
                = link_to "Home", root_path
              %li 
                = link_to "Home", root_path
              %li 
                = link_to "Home", root_path
              %li 
                = link_to "Home", root_path
              %li 
                = link_to "Home", root_path

            %ul.nav.pull-right
              %li
                %a{href:"#myModal", "data-toggle" => "modal"}Login

    / Modal
    #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Sign In  
      .modal-body
        = form_tag "x" do 
          = label_tag :email
          .input-prepend
            %span.add-on
              %i.icon-envelope
          = text_field_tag :email, params[:username], placeholder:"Username"

          = label_tag :pasword
          .input-prepend
            %span.add-on
              %i.icon-asterisk
          = password_field_tag :password, params[:password], type:"password", placeholder:"Password"
          %br
          = submit_tag :Login, :class => "btn btn-primary"  
      .modal-footer
        = link_to "Signup", root_path
        %br
        = link_to "Forgot Password", root_path


    .container
      = yield 
