!!!
%html
  %head
    %title NearBuy
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    /%link{href: "/assets/BootStrap/bootstrap-responsive.css", rel: "stylesheet"}

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = render partial:"layouts/nav"
            
    - if !current_user 
      #login_modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h3#myModalLabel Sign In  
 
        = render partial:"sessions/login"

    .container 
      .row
        .span12 
          - unless flash[:notice].blank?
            .alert
              = flash[:notice]
          - unless flash[:alert].blank?
            .alert.alert-error  
              = flash[:alert]
          
    = yield 

    = content_for :scripts
